.jumbotron {
    background-color: #bc8f8f;
    color: #fff;
    padding: 87px 87px;
    text-transform: uppercase;
}

.w3-container {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #bc8f8f;
  color: white;
}
